.body{
    font-family: Arial;
    margin: 0;
}
.send-button {
  background-color: #008000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;  
}
.chat-input {
  padding: 10px 15px;
  /* border: solid 0.5px rgb(47, 47, 47); */
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
  margin-top: 20px;
}
.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
  /* gap: 10px; */
}
.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: start;
  /* gap: 10px; */
}
.chat-message-text {
  padding: 15px 20px;
  background-color: rgb(218, 218, 218);
  color: black;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
  /* font-family: Arial, Helvetica, sans-serif; not entire website */
  /* display: inline-block; */
}
.chat-message-profile{
    width: 45px;
}
.chat-messages-container{
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width: none;
}